 {% assign lang = request.locale.iso_code %}
{% assign translation = "translations_" | append:lang %}
 <section id="cd_change_password_page" class="cd_main-section cd_main-section-2">
        <div class="cd_header">
          <div>
            <p id="cd_heading">{{ shop.metafields.customer_dashboard[translation].value[lang][19].value }}</p>
          </div>
        </div>
        <div class="cd_container">
          <form id="cd_change_password_form">          
            <div class="cd_row">
              <div class="cd_col-25">
                <label for="password">{{ shop.metafields.customer_dashboard[translation].value[lang][20].value }}</label>
              </div>
              <div class="cd_col-75">
               <input type="hidden" id="id" name="id" value="{{ customer.id }}">
                <input type="password" class="cd_password" id="password" name="password">
              </div>
            </div>
            <div class="cd_row">

              <div class="cd_col-25">
                <label for="c_password">{{ shop.metafields.customer_dashboard[translation].value[lang][21].value }}</label>
              </div>
              <div class="cd_col-75">
                <input type="password" class="cd_password" id="c_password" name="passwordConfirmation">
              </div>
              <div class="cd_length_char" >{{ shop.metafields.customer_dashboard[translation].value[lang][22].value }}</div>
              <div class="cd_not_same">{{ shop.metafields.customer_dashboard[translation].value[lang][23].value }}</div>
            </div>

            <div style="margin-top:15px;" class="cd_row">
              <button type="submit" id="submit_loader_2">{{shop.metafields.customer_dashboard[translation].value[lang][40].value}}</button>
            </div>
             <div id="cd_success_message_password">{{ shop.metafields.customer_dashboard[translation].value[lang][24].value }}</div>
          </form>         
        </div>
</section>