{% assign lang = request.locale.iso_code %}
{% assign translation = "translations_" | append:lang %}
<section id="cd_edit_profile_page" class="cd_main-section cd_main-section-2">
    <form id="cd_form_customer">
        <div>
            <div class="cd_form-header">
                <div style="display:flex"> 
                    <p id="cd_heading">{{ shop.metafields.customer_dashboard[translation].value[lang][6].value }}</p>
                </div>
                <div class="all_edit_fields">
                    <input type="hidden" id="id" name="id" value="{{ customer.id }}">
                    {% for profile in shop.metafields.customer_dashboard.profile_fields.value %}
                    {% for nav  in shop.metafields.customer_dashboard[translation].value[lang] %}
                   {% if nav.name == "Shared" and nav.heading == profile.label %}
                    {% assign label_name = profile.name %}
                    {% assign profile_value = "" %}

                    {% if label_name == "email" %}{% assign profile_value = customer.email %}
                    {% elsif label_name == "first_name"  %}{% assign profile_value = customer.first_name %}
                    {% elsif label_name == "last_name"  %}{% assign profile_value = customer.last_name %}
                    {% elsif label_name == "phone"  %}{% assign profile_value = customer.phone %}
                    {% endif %}
                    {% for metafields_data in customer.metafields.customer_dashboard.additional_data.value %}
                    {% if profile.name == metafields_data[0] and profile.name != "first_name" and profile.name != "last_name" and profile.name != "email" and profile.name != "phone" %}
                    {% assign profile_value = metafields_data[1] %}
                    {% endif %}
                    {% endfor %}
                    {% if profile.value == "radio" or profile.value == "checkbox" %}
                    {% assign multipleFields = profile.multipleValue %}
                    {% assign readiocheckbox = "" %}
                    {% assign everything = "" %}
                    {% for multipleField in multipleFields %}
                    {% assign checked_value = "" %}
                    {% for metafields_data in customer.metafields.customer_dashboard.additional_data.value %}
                    {% assign str_array = metafields_data[1] | split: ","  %}
                    {% for ckeck_index in str_array %}

                    {% if ckeck_index == multipleField.value and metafields_data[0] == profile.name %}
                    {% assign checked_value = "checked" %}
                    {% endif %}

                    {% endfor %}
                    {% endfor %}
                    {% capture readiocheckbox %}
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" {{ checked_value }}  type="{{profile.value}}" id="cd_{{profile.id }}_{{forloop.index0}}" name="{{label_name}}"  value="{{multipleField.value}}">
                    <label class="form-check-label" for="cd_{{profile.id }}_{{forloop.index0}}">{{multipleField.value}}</label>
                    </div>
                    {% endcapture %}
                    {% assign everything = everything | append: readiocheckbox %}
                    {% endfor %}
                    <div class="cd_row"><div><label>{{ nav.value }}</label></div><div style="width:fit-content;">{{ everything }}</div></div>
                    {% elsif profile.value == "email" or profile.value == "text" or profile.value == "date" %}
                   <div class="cd_row"><div class="cd_col-25"><label for="cd_{{profile.id }}">{{ nav.value }}</label></div><div class="cd_col-75"><input type="{{profile.value}}" id="cd_{{profile.id }}" name="{{label_name}}" value="{{ profile_value }}"></div></div>
                    {% elsif profile.value == "textarea" and profile.value == "textarea"  %}
                    <div class="cd_row"><div class="cd_col-25"><label for="cd_{{profile.id }}">{{ nav.value }}</label></div><textarea class="form-control" id="cd_{{profile.id }}" rows="2" name="{{label_name}}">{{ profile_value }}</textarea></div>
                    {% endif %}  
                     {% endif %}
           {% endfor %}        
                    {% endfor %}
                </div>
                <div class="cd_check-marketing">
                    <input type="checkbox" name="cd_accepts_marketing" id="checkbox" {% if customer.accepts_marketing
                        %}checked="checked" {% endif %}>
                    <label for="checkbox">{{ shop.metafields.customer_dashboard[translation].value[lang][5].value }} from {{ shop.name }} store </label>
                </div>

                <div class="cd_row">
                    <button type="submit" id="cd_submit_loader">{{shop.metafields.customer_dashboard[translation].value[lang][40].value}}</button>
                    <input class="cd_backFunction" type="button" id="cd_submit_loader" value="Cancel" />
                </div>
                <div id="cd_success_message">{{ shop.metafields.customer_dashboard[translation].value[lang][4].value }}</div>
            </div>
        </div>
    </form>
</section>