{% assign setting = shop.metafields.customer_dashboard.setting.value %}
{% if customer %}
  <script>
    customerVarOnLoad = {{ customer.id }};
    customerFirstNameOnload = "{{ customer.first_name }}";
    customerLastNameOnload = "{{ customer.last_name }}";
    customerEmailOnload = "{{ customer.email }}";
    customerPhoneOnload = "{{ customer.phone }}";
    defaultLanguage = Shopify.locale;
    themeId = Shopify.theme.id;
  </script>
{% endif %}

{% render "css-variables" %}
<style>

  {{ setting.custom_css }}.customerdb-parent > *:not(#customer_dashboard) {
    display: none;
  }
  {%- comment -%}
    #customer_dashboard {
      display: flex !important;
    }
  {%- endcomment -%}
</style>

{% if setting.app_access_toggle == true %}
  <script src="{{ 'customer-dashboard.js' | asset_url }}" defer></script>
  <link rel="preload" href="{{ 'customer-dashboard.css' | asset_url }}" as="style">
  <link href="{{ 'customer-dashboard.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
  <div id="customer_dashboard">
    <div class="cd_main_box">
      {% render "header" %}
      <div class="cd_main-content">
        {% render "profile" %}
        {% render "edit-profile" %}
        {% render "orders" %}
        {% render "addresses" %}
        {% render "add-address" %}
        {% render "contact" %}
        {% render "page" %}
        {% render "change-password" %}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Customer Dashboard Pro",
    "target": "head",
    "templates": [
      "customers/account", "customers/addresses"
    ],
    "settings": []
  }
{% endschema %}