{% assign setting = shop.metafields.customer_dashboard.setting.value %}
{% assign lang = request.locale.iso_code %}
{% assign translation = "translations_" | append:lang %}
<div id="cd_my-profile" class="cd_main-section">
  <section class="cd_main-section-1 cd_main-section-2">
    <div class="cd_box">
      <div class="cd_box-logo">
        <div class="cd_spent_cir">
          <svg class="cd_spent_icon" xmlns="http://www.w3.org/2000/svg" width="13" height="23" viewBox="0 0 13 23" fill="none">
            <path d="M12.6 15.05C12.6 15.8833 12.3917 16.6667 11.975 17.4C11.575 18.1333 10.975 18.75 10.175 19.25C9.39167 19.75 8.45833 20.05 7.375 20.15V22.175H5.75V20.15C4.18333 20 2.91667 19.5083 1.95 18.675C0.983333 17.8417 0.5 16.7417 0.5 15.375H3.55C3.6 16.025 3.80833 16.5667 4.175 17C4.54167 17.4167 5.06667 17.6833 5.75 17.8V12.3C4.63333 12.0167 3.725 11.7333 3.025 11.45C2.325 11.15 1.725 10.6833 1.225 10.05C0.741667 9.41667 0.5 8.55 0.5 7.45C0.5 6.06667 0.983333 4.925 1.95 4.025C2.91667 3.10833 4.18333 2.575 5.75 2.425V0.399999H7.375V2.425C8.84167 2.55833 10.0167 3.025 10.9 3.825C11.8 4.60833 12.3083 5.69167 12.425 7.075H9.375C9.325 6.55833 9.125 6.1 8.775 5.7C8.425 5.28333 7.95833 5 7.375 4.85V10.25C8.49167 10.5167 9.4 10.8 10.1 11.1C10.8 11.3833 11.3917 11.8417 11.875 12.475C12.3583 13.0917 12.6 13.95 12.6 15.05ZM3.4 7.3C3.4 7.98333 3.6 8.51667 4 8.9C4.41667 9.28333 5 9.59167 5.75 9.825V4.775C5.03333 4.85833 4.45833 5.11667 4.025 5.55C3.60833 5.98333 3.4 6.56667 3.4 7.3ZM7.375 17.8C8.10833 17.6833 8.68333 17.3917 9.1 16.925C9.51667 16.4417 9.725 15.8667 9.725 15.2C9.725 14.5333 9.51667 14.0167 9.1 13.65C8.7 13.2667 8.125 12.9583 7.375 12.725V17.8Z" fill="black"/>
          </svg>
        </div>
        <div class="cd_box-content">
          <p>{{ shop.metafields.customer_dashboard[translation].value[lang][1].value }}</p>
          <p>{{ customer.total_spent | money }}</p>
        </div>
      </div>
    </div>
    <div class="cd_box">
      <div class="cd_box-logo">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 0C7.16733 0 0 7.16733 0 16C0 24.8327 7.16733 32 16 32C24.8327 32 32 24.8327 32 16C32 7.16733 24.8327 0 16 0ZM16 0.666667C24.472 0.666667 31.3333 7.52733 31.3333 16C31.3333 24.4727 24.472 31.3333 16 31.3333C7.528 31.3333 0.666667 24.4727 0.666667 16C0.666667 7.52733 7.528 0.666667 16 0.666667ZM8.31667 8.66667C8.22826 8.67109 8.14523 8.71045 8.08585 8.77608C8.02646 8.84172 7.99558 8.92826 8 9.01667C8.00442 9.10507 8.04378 9.1881 8.10942 9.24749C8.17505 9.30687 8.26159 9.33775 8.35 9.33333H10.0727L12.022 19.7293C12.0366 19.8056 12.0774 19.8744 12.1372 19.9238C12.1971 19.9732 12.2724 20.0001 12.35 20H22.4027C22.4056 20 22.4084 20 22.4113 20C22.4227 20.0006 22.434 20.0006 22.4453 20H22.5533C23.0173 20 23.3453 20.3133 23.3453 20.6667C23.3453 21.02 23.0173 21.3333 22.5533 21.3333H12.2827C12.1943 21.3333 12.1095 21.3685 12.047 21.431C11.9845 21.4935 11.9493 21.5783 11.9493 21.6667C11.9493 21.7551 11.9845 21.8399 12.047 21.9024C12.1095 21.9649 12.1943 22 12.2827 22H22.5533C23.3353 22 24.012 21.422 24.012 20.6667C24.012 19.992 23.4713 19.4613 22.7987 19.3553L24.008 11.72C24.0155 11.6724 24.0126 11.6238 23.9995 11.5774C23.9864 11.531 23.9634 11.4881 23.9321 11.4514C23.9008 11.4148 23.862 11.3854 23.8182 11.3652C23.7745 11.3451 23.7268 11.3347 23.6787 11.3347H11.126L10.6773 8.93867C10.6631 8.86239 10.6226 8.79349 10.563 8.74384C10.5034 8.69419 10.4283 8.66689 10.3507 8.66667H8.35067C8.33934 8.66609 8.32799 8.66609 8.31667 8.66667ZM21.012 22C20.4633 22 20.012 22.452 20.012 23C20.012 23.548 20.4633 24 21.012 24C21.56 24 22.012 23.548 22.012 23C22.012 22.452 21.56 22 21.012 22ZM14.3453 22C13.7967 22 13.3453 22.452 13.3453 23C13.3453 23.548 13.7967 24 14.3453 24C14.8933 24 15.3453 23.548 15.3453 23C15.3453 22.452 14.8933 22 14.3453 22ZM11.2513 12.0013H13.3727L13.4833 13.3333H11.5013L11.2513 12.0013ZM14.0407 12.0013H16.012V13.3333H14.1513L14.0407 12.0013ZM16.6787 12.0013H18.012V13.3333H16.6787V12.0013ZM18.6787 12.0013H20.65L20.5393 13.3333H18.6787V12.0013ZM21.318 12.0013H23.288L23.0767 13.3333H21.2073L21.318 12.0013ZM11.626 14H13.5393L13.65 15.3333H11.8767L11.626 14ZM14.2073 14H16.012V15.3333H14.318L14.2073 14ZM16.6787 14H18.012V15.3333H16.6787V14ZM18.6787 14H20.4833L20.3727 15.3333H18.6787V14ZM21.1513 14H22.9713L22.7607 15.3333H21.0407L21.1513 14ZM12.0013 16H13.706L13.8167 17.3333H12.2513L12.0013 16ZM14.374 16H16.012V17.3333H14.4847L14.374 16ZM16.6787 16H18.012V17.3333H16.6787V16ZM18.6787 16H20.3167L20.206 17.3333H18.6787V16ZM20.9847 16H22.6547L22.444 17.3333H20.874L20.9847 16ZM12.376 18H13.8713L13.9833 19.3333H12.626L12.376 18ZM14.5407 18H16.012V19.3333H14.6513L14.5407 18ZM16.6787 18H18.012V19.3333H16.6787V18ZM18.6787 18H20.15L20.0393 19.3333H18.6787V18ZM20.8187 18H22.3387L22.126 19.3333H20.7073L20.8187 18ZM14.3453 22.6667C14.5333 22.6667 14.6787 22.812 14.6787 23C14.6787 23.188 14.5333 23.3333 14.3453 23.3333C14.3014 23.334 14.2578 23.3258 14.217 23.3092C14.1763 23.2927 14.1393 23.2682 14.1082 23.2371C14.0772 23.206 14.0526 23.169 14.0361 23.1283C14.0196 23.0876 14.0114 23.0439 14.012 23C14.012 22.812 14.1573 22.6667 14.3453 22.6667ZM21.012 22.6667C21.2 22.6667 21.3453 22.812 21.3453 23C21.3453 23.188 21.2 23.3333 21.012 23.3333C20.9681 23.334 20.9244 23.3258 20.8837 23.3092C20.843 23.2927 20.806 23.2682 20.7749 23.2371C20.7438 23.206 20.7193 23.169 20.7028 23.1283C20.6862 23.0876 20.678 23.0439 20.6787 23C20.6787 22.812 20.824 22.6667 21.012 22.6667Z" fill="#202020"/>
        </svg>
        <div class="cd_box-content">
          <p>{{ shop.metafields.customer_dashboard[translation].value[lang][3].value }}</p>
          <p>{{ customer.orders.size }}</p>
        </div>
      </div>
    </div>
    <div class="cd_box">
      <div class="cd_box-logo">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.497 8C14.2687 8 12.8332 8.33716 11.6592 9.21378C10.4851 10.0904 9.62682 11.539 9.62682 13.5411C9.62682 15.6594 11.0376 17.7242 12.3818 19.3077C13.7261 20.8935 15.0703 22.0026 15.0703 22.0026C15.3169 22.2072 15.6844 22.2072 15.9311 22.0026C15.9311 22.0026 17.2753 20.8935 18.6195 19.3077C19.9637 17.7242 21.3745 15.6594 21.3745 13.5411C21.3745 11.5367 20.5162 10.0904 19.3422 9.21378C18.1681 8.33716 16.7253 8 15.497 8ZM15.497 9.23238C16.4712 9.23238 17.6477 9.51373 18.5307 10.1764C19.4186 10.8368 20.0698 11.8529 20.0698 13.5411C20.0698 15.1129 18.8908 17.0615 17.6033 18.5357C16.5107 19.7867 16.0026 20.2261 15.5019 20.6982C15.0333 20.2424 14.4339 19.7402 13.398 18.5357C12.1204 17.0522 10.9316 15.1129 10.9316 13.5411C10.9316 11.8529 11.5827 10.8368 12.4682 10.1764C13.3561 9.51373 14.5252 9.23005 15.497 9.23005V9.23238ZM15.497 10.4741C13.7039 10.4741 12.2363 11.8622 12.2363 13.555C12.2363 15.2455 13.7039 16.629 15.497 16.629C17.2925 16.629 18.765 15.2455 18.765 13.555C18.7618 12.7388 18.4164 11.957 17.8042 11.3798C17.1921 10.8027 16.3627 10.4771 15.497 10.4741ZM15.497 11.7064C16.5871 11.7064 17.4603 12.5272 17.4603 13.555C17.4609 13.7978 17.4105 14.0383 17.312 14.2626C17.2134 14.487 17.0687 14.6906 16.8861 14.8619C16.7035 15.0331 16.4867 15.1686 16.2483 15.2604C16.0099 15.3521 15.7545 15.3984 15.497 15.3966C15.2401 15.3978 14.9855 15.351 14.7479 15.2589C14.5103 15.1668 14.2944 15.0312 14.1128 14.86C13.9311 14.6887 13.7873 14.4852 13.6896 14.2612C13.5919 14.0372 13.5422 13.7972 13.5435 13.555C13.5419 13.3124 13.5913 13.0719 13.6888 12.8474C13.7863 12.6229 13.93 12.4188 14.1116 12.2469C14.2932 12.075 14.5092 11.9388 14.7469 11.846C14.9847 11.7533 15.2396 11.7058 15.497 11.7064ZM12.2215 20.4517C12.2075 20.4535 12.1935 20.4558 12.1796 20.4587C10.7639 20.5958 9.69095 20.7958 8.96582 21.0934C8.60325 21.2423 8.27521 21.3864 8.0779 21.7887C7.97849 22.0094 7.97406 22.2579 8.06556 22.4816C8.15682 22.6932 8.30974 22.8351 8.46513 22.9467C9.08667 23.3885 9.97706 23.5629 11.1906 23.7326C12.404 23.9023 13.9012 24 15.497 24C17.0952 24 18.5899 23.9023 19.8034 23.7326C21.0193 23.5629 21.9122 23.3885 22.5362 22.9467C22.712 22.831 22.8503 22.6716 22.9358 22.4863C23.0263 22.2606 23.021 22.0108 22.921 21.7887C22.7237 21.3841 22.3981 21.2423 22.033 21.0911C21.3104 20.7958 20.2424 20.5958 18.8267 20.4587C17.9955 20.3935 17.7957 21.5399 18.691 21.6841C19.8231 21.7933 20.7727 21.9677 21.3202 22.1491C20.9404 22.2793 20.383 22.4072 19.611 22.5142C18.4814 22.6723 17.0385 22.7699 15.497 22.7699C13.9579 22.7699 12.515 22.6723 11.3854 22.5142C10.803 22.4452 10.229 22.3237 9.67122 22.1514C10.5327 21.915 11.4166 21.7585 12.3103 21.6841C13.1612 21.5631 13.0453 20.4587 12.2215 20.4517Z" fill="#202020"/>
          <circle cx="16" cy="16" r="15.75" stroke="#202020" stroke-width="0.5"/>
        </svg>
        <div class="cd_box-content">
          <p>{{ shop.metafields.customer_dashboard[translation].value[lang][2].value }}</p>
          <p>{{ customer.addresses.size }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="cd_main-section-2">
    <div class="cd_form-container">
      <div class="cd_all_fields">
        <div class="cd_form-header">
          <div>
            <p id="cd_heading">{{ shop.metafields.customer_dashboard[translation].value[lang][0].value }}</p>
          </div>
          <div onclick="myFunction('cd_edit-profile')">
            <svg id="cd_edit-svg" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M34.0804 21.1997C33.8365 21.1997 33.6026 21.2974 33.4301 21.4714C33.2576 21.6453 33.1608 21.8812 33.1608 22.1272V30.3625C33.1599 31.1002 32.869 31.8074 32.3518 32.329C31.8346 32.8507 31.1333 33.1441 30.4019 33.1449H4.59811C3.86667 33.1441 3.16542 32.8507 2.64821 32.329C2.131 31.8074 1.84007 31.1002 1.83924 30.3625V6.19301C1.84007 5.45531 2.131 4.74806 2.64821 4.22642C3.16542 3.70479 3.86667 3.41137 4.59811 3.41054H12.7635C13.0074 3.41054 13.2413 3.31282 13.4138 3.13888C13.5863 2.96494 13.6832 2.72903 13.6832 2.48305C13.6832 2.23706 13.5863 2.00115 13.4138 1.82721C13.2413 1.65327 13.0074 1.55556 12.7635 1.55556H4.59811C3.37904 1.55696 2.2103 2.04599 1.34829 2.91538C0.486275 3.78477 0.00138737 4.96351 0 6.19301V30.3626C0.00138737 31.5921 0.486275 32.7708 1.34829 33.6402C2.2103 34.5096 3.37904 34.9986 4.59811 35H30.4019C31.621 34.9986 32.7897 34.5096 33.6517 33.6402C34.5137 32.7708 34.9986 31.5921 35 30.3626V22.1273C35 22.0055 34.9762 21.8849 34.93 21.7723C34.8838 21.6598 34.8161 21.5575 34.7307 21.4714C34.6453 21.3853 34.5439 21.3169 34.4323 21.2703C34.3207 21.2237 34.2011 21.1997 34.0804 21.1997Z" fill="black"/>
              <path d="M27.7388 2.96464L14.3443 16.3592L18.6641 20.679L32.0586 7.28447L27.7388 2.96464Z" fill="black"/>
              <path d="M12.4445 22.5556L17.1111 21.2628L13.7372 17.8889L12.4445 22.5556Z" fill="black"/>
              <path d="M33.177 0.69977C32.7279 0.251662 32.1194 0 31.485 0C30.8505 0 30.242 0.251662 29.7929 0.69977L28.7778 1.71492L33.2851 6.22222L34.3003 5.20707C34.7484 4.75796 35 4.14947 35 3.51507C35 2.88068 34.7484 2.27219 34.3003 1.82308L33.177 0.69977Z" fill="black"/>
            </svg>
          </div>
        </div>
        {% for profile in shop.metafields.customer_dashboard.profile_fields.value %}
          {% for nav  in shop.metafields.customer_dashboard[translation].value[lang] %}
            {% if nav.name == "Shared" and nav.heading == profile.label %}
              <div class="cd_row">
                <div class="cd_col-05">
                  <label for="fname">{{ nav.value }}:</label>
                </div>
                {% if profile.name == "email" %}
                  <div class="cd_col-25">
                    <p>{{ customer.email }}</p>
                  </div>
                {% elsif profile.name == "first_name"  %}
                  <div class="cd_col-25">
                    <p>{{ customer.first_name }}</p>
                  </div>
                {% elsif profile.name == "last_name"  %}
                  <div class="cd_col-25">
                    <p>{{ customer.last_name }}</p>
                  </div>
                {% elsif profile.name == "phone"  %}
                  <div class="cd_col-25">
                    <p>{{ customer.phone }}</p>
                  </div>
                {% endif %}
                {% for metafields_data in customer.metafields.customer_dashboard.additional_data.value %}
                  {% if profile.name == metafields_data[0] and profile.name != "first_name" and profile.name != "last_name" and profile.name != "email" and profile.name != "phone" %}
                    <div class="cd_col-25">
                      <p>{{ metafields_data[1] }}</p>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}


        <!-- <div class="cd_row">
        <div class="cd_col-05">
        <label for="fname">First Name:</label>
        </div>
        <div class="cd_col-25">
        <p>{{ customer.first_name }}</p>
        </div>
        </div>
        <div class="cd_row">
        <div class="cd_col-05">
        <label for="fname">Last Name:</label>
        </div>
        <div class="cd_col-25">
        <p>{{ customer.last_name }}</p>
        </div>
        </div>
        <div class="cd_row">
        <div class="cd_col-05">
        <label for="fname">Email:</label>
        </div>
        <div class="cd_col-25">
        <p>{{ customer.email }}</p>
        </div>
        </div>
        <div class="cd_row">
        <div class="cd_col-05">
        <label for="fname">Phone:</label>
        </div>
        <div class="cd_col-25">
        <p>{{ customer.phone }}</p> 
        </div>
        </div> -->
      </div>
      <div>
        {% if setting.updatebycustomer_toggle == true %}
          <div class="cd_check-marketing">
            <span>{{ shop.metafields.customer_dashboard[translation].value[lang][5].value }}
            </br>
            <p style="color:black">
              {% if customer.accepts_marketing==true %}Yes{% else %}No{% endif%}
            </p>
          </span>
        </div>
      {% endif %}
    </div>
  </section>
</div>